.hero {
	max-width: 1440px;

	margin-left: auto;
	margin-right: auto;
	padding: 188px 0;

	background-image: linear-gradient(to right, var(--grey-color), var(--grey-color)),
	url('../img/hero-background.jpg');
	text-align: center;
}

.hero__title {
	font-weight: 700;
	font-size: 56px;
	line-height: 1.07;

	color: var(--white-color);

	margin-bottom: 48px;
}

