.header {
	border-bottom: 1px solid var(--cornflower);
}

.login {
	padding: 120px 0;
}

.login__modal {
	width: 408px;
	height: 584px;
	padding: 72px 24px 36px;

	border-radius: 4px;

	background-color: var(--dairy);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.login__form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal__title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	color: var(--primary-title-color);

	margin-bottom: 16px;
}

.modal__form-field {
	width: 360px;
	height: 58px;

	margin-bottom: 8px;
}

.modal__form-field:last-child {
	margin-bottom: 24px;
}

.modal__form-field input {
	font-family: var(--font-family);
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;

	padding: 11px 38px;
}

.modal__form-field label,
.modal__form-field-comment label {
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: var(--light-slate);

	display: block;
	text-align: left;
	margin-bottom: 4px;
}

.modal__form-field input {
	border: 1px solid var(--navy-blue-modal);
	border-radius: 4px;
	width: 360px;
	height: 40px;

	transition: var(--anim-time);
}

.modal__form-input {
	position: relative;
}

.modal__icon {
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	left: 19px;
	display: inline-block;
}

.modal__icon.email {
	left: 17.5px;
}

.modal__form-field input:hover,
.modal__form-field input:focus {
	border: 1px solid var(--accent-text-color);
}

.modal__form-field:hover *,
.modal__form-field:focus * {
	fill: var(--accent-text-color);
	transition: var(--anim-time);
}

.modal__text {
	display: inline-flex;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: var(--light-slate);
}

.modal__link {
	line-height: 1.33;
	text-decoration: underline;
	text-decoration-skip-ink: none;
	color: var(--accent-text-color);
	margin-left: 4px;
}

.login__button {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	text-decoration: none;

	color: var(--white-color);
	background-color: var(--accent-text-color);
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

	display: inline-block;

	min-width: 169px;
	height: 56px;

	border-radius: 4px;
	padding: 16px 32px;
	margin: 16px 0 24px;
}

.login__button:hover,
.login__button:focus {
	background-color: var(--accent-text-color-active);
	transition: var(--anim-time);
	cursor: pointer;
}

.login__line {
	border-bottom: 1px solid #e7e9fc;
	width: 374px;
	height: 1px;
	margin-bottom: 24px;
}