.search__button {
	font-family: var(--second-family);
	font-size: 18px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	text-decoration: none;
	text-align: right;

	color: var(--primary-title-color);

	display: inline-block;
	border-radius: 4px;
	padding: 8px 24px;
	width: 165px;
	height: 40px;

	background-repeat: no-repeat;
	background-position: left 24px bottom 50%;
	background-image: url('../img/categories.svg');
}

.project {
	padding: 120px 0;
}

.project__list {
	display: grid;
	gap: 48px 24px;
	grid-template-columns: auto auto auto;
}

.project__item {
	background-color: var(--white-color);

	border: 1px solid var(--cornflower);
	width: 360px;
	height: 420px;
	cursor: pointer;
}

.project__item:hover {
	transition: var(--anim-time);
	border: 1px solid var(--primary-footer-color);
	box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.project__image {
	position: relative;
	transition: var(--anim-time);
}

.project__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: var(--primary-footer-color);

	width: 296px;

	position: absolute;
	top: 40px;
	right: 32px;
	opacity: 0;
}

.project__item:hover .project__image::before,
.project__item:hover .project__text,
.project__item:hover .project__item {
	transition: var(--anim-time);
	opacity: 1;
}

.project__content {
	padding: 32px 16px 54px;
}

.section-name {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;

	color: var(--primary-title-color);

	margin-bottom: 8px;
}

.section-text {
	font-size: 16px;
	line-height: 1.5;

	color: var(--primary-text-color);
}