.search {
	border-bottom: 1px solid var(--cornflower);
}

.search__line {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.search__button {
	font-family: var(--second-family);
	font-size: 18px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	text-decoration: none;
	text-align: right;

	color: var(--primary-title-color);

	display: inline-block;
	border-radius: 4px;
	padding: 8px 12px;
	margin: 16px 0;
	width: 165px;
	height: 40px;

	background-repeat: no-repeat;
	background-position: left 12px bottom 50%;
	background-image: url('../img/categories.svg');
}

.search__form {
	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 4px;
	width: 570px;
	height: 40px;

	display: flex;
	align-items: center;
	padding: 8px 12px 8px 16px;
}

.search__form input {
	width: 520px;
}

.search__form button {
	width: 20px;
	height: 20px;
}

.search__form:hover,
.search__form:focus {
	border: 1px solid var(--accent-text-color);
	transition: var(--anim-time);
}

.search__form button:hover *,
.search__form button:focus * {
	fill: var(--accent-text-color);
	fill-opacity: 1;
	transition: var(--anim-time);
}

.search__button-add {
	font-family: var(--font-family), "Open Sans", Arial, sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	text-align: center;
	color: var(--white-color);
	background: var(--accent-text-color);

	display: inline-block;
	border-radius: 4px;
	padding: 8px 24px;
	width: 210px;
	height: 40px;
}

.search__button-add:hover,
.search__button-add:focus {
	background-color: var(--accent-text-color-active);
	transition: var(--anim-time);
	cursor: pointer;
}

.project {
	padding: 120px 0;
}

.project__list {
	display: grid;
	gap: 48px 24px;
	grid-template-columns: auto auto auto;
}

.project__item {
	background-color: var(--white-color);

	border: 1px solid var(--cornflower);
	width: 360px;
	height: 420px;
	cursor: pointer;

	position: relative;
}

.project__item:hover {
	transition: var(--anim-time);
	border: 1px solid var(--primary-footer-color);
	box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.project__image {
	position: relative;
	transition: var(--anim-time);
}

.project__content {
	position: absolute;
	bottom: 0;
	padding: 32px 16px 32px;
}

.section-name {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;

	color: var(--primary-title-color);

	margin-bottom: 8px;
}

.section-text {
	font-size: 16px;
	line-height: 1.5;

	color: var(--primary-text-color);
}